<style>
		
	.footer{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        top: 96%;
        height: 12%;
        padding: 1rem;
        background-color: grey;
        text-align: center;
        color:white;
	}

</style>
<div>
<p class="footer text-center text-muted">Copyright	&copy; 2017</p>
</div>